= link_to path, class: "col text-dark text-decoration-none" do
  .card.h-100
    = image_tag image, class: "card-img-top", style: "height: 200px;"
    .card-body
      %h5.card-title.fw-bold
        = title
      %p.card-text
        = text
